#### TOC
[0. Import Libraries](#0.-Import-Libraries)

[1. Import Data](#1.-Import-Data)

[2. Data Exploration](#2.-Data-Exploration)

[3. Data Cleaning](#3.-Data-Cleaning)

[4. Data Preparation](#4.-Data-Preparation)

[5. Benchmark Model](#5.-Benchmark-Model)

[6. Feature Engineering](#6.-Feature-Engineering)

[7. Model Training](#7.-Model-Training)

[8. Tuning](#8.-Tuning)

[9. Conclusion](#9.-Conclusion)

# 0. Import Libraries

In order to read parquet format, must install pyarrow, no import is required.

[Back to Top](#TOC)

In [3]:
import pandas as pd

# 1. Import Data
From [New York City Taxi and Limousine Commission](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page)

[Back to Top](#TOC)

In [6]:
taxi_df = pd.read_parquet('data/yellow_tripdata_2024-01.parquet')

In [7]:
taxi_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [9]:
taxi_df.shape

(2964624, 19)

# 2. Data Exploration

[Back to Top](#TOC)

# 3. Data Cleaning

[Back to Top](#TOC)

# 4. Data Preparation

[Back to Top](#TOC)

# 5. Benchmark Model

[Back to Top](#TOC)

# 6. Feature Engineering

[Back to Top](#TOC)

# 7. Model Training

[Back to Top](#TOC)

# 8. Tuning

[Back to Top](#TOC)

# 9. Conclusion

[Back to Top](#TOC)